body
{
    margin:0;
    background-color: black;
    text-decoration: none;
    
}
/* header */
.header-top-nav
{
    position: fixed;
    height:8%;
    width:76.5%;
    backdrop-filter: blur( 4px );
    /* background-color: #101010; */
    background-color: rgba(0, 0, 0, 0.7); /* Black overlay with transparency */
    /* background-color: yellow; */
    margin:-4.5% 0 0 23.1%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display: flex;
}
.header-left
{
    position: fixed;
    background-color: #101010;
    /* background-color: antiquewhite; */
    width:22%;
    height:14%;
    margin-top:-4.5%;
    margin-left:0.5%;
    border-radius: 10px;
    color:#ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display:block;
    align-items: center;
    justify-content: center;
}
.header-left-home
{
    margin-top:-10px;
    padding-left:20px;
    color:white;
}
.header-left-home:hover
{
    color: white;
}
.header-left-search
{
    padding-left:20px;
    color:grey;
}
.header-left-search:hover
{
    color:white;
}
/* top small nav */

.header-icon
{
    color:white;
    font-size: 2rem;
    margin-left:3%;
    padding-top:18px;
}
.fa-arrow-circle-left:hover
{
   color: #6f6f6f;
}
.fa-arrow-circle-right:hover
{
   color: #6f6f6f;
}
.header-buttons
{
    margin-left:75%;
}
.header-button-sign-up
{
    color:white;
    height:60%;
    width:120px;
    backdrop-filter:blur(1px);
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with transparency */
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    border-radius: 50px;
    margin-top: 10px;
}
.header-button-sign-up:hover
{
    background-color: #6f6f6f;
    color:white;
}
.header-button-log-in
{
    color:black;
    height:60%;
    width:120px;
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    /* letter-spacing: 1px; */
    background-color: #ffffff;
    border-radius: 50px;
}
.header-button-log-in:hover
{
    background-color: #6f6f6f;

}
/* header end */

/* left big nav */
.left-big-nav
{
    background-color: white;
    width:22%;
    height:75%;
    position:fixed;
    margin-left:0.5%;
    margin-top:3%;
    border-radius: 10px;
    background-color: black;
    color:grey;
}
.left-nav-top
{
    display:flex;
    align-items: center;
}
.library-icon
{
    padding-left:6%;
    font-size: 20px;
}
.library
{
    padding-left:13px;
    padding-bottom: 3px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
.library:hover 
{
    color:white;
}
.plus
{
    padding-left:60%;
    font-size: 20px;
    padding-top:5px;
}
.plus:hover
{
    color:white;
}
/* left big nav end */

/* left-big-nav-middle */

.left-big-nav-middle
{
    background-color:#242424;
    margin:0 2% 0 2%;
    border-radius:10px;
}
.left-middle-heading
{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:3% 0 0 5%;
    font-size:15px;
    letter-spacing: 1px;;
}
.left-middle-para
{
    color:grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0 0 0 5%;
    font-size:13px;
    font-weight: 100;
    letter-spacing: 1px;;
}
.left-middle-button
{
    width:30%;
    height:5%;
    border-radius: 20px;
    border:none;
    font-size: small;
    color:black;
    text-align: center;
    margin:5% 0 5% 5%;
}
.left-middle-button:hover
{
    background-color:#6f6f6f;
    color:black;
}
/* left-big-nav-middle end */

/* left bif bottom */

.left-bottom-list
{
    padding:150px 0 0 40px;
}
.left-bottom-list
{
    margin-left:-10px;
    /* padding:35% 0 0 0; */
}

.left-bottom-list li
{
    padding:20px 10px 10px 0;
    display:inline-block;
    font-size:small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
.bottom-lang
{
    width:30%;
    height:5%;
    background-color: black;
    color:white;
    border:0.5px solid #6f6f6f;
    font-size: smaller;
    margin:0 0 0 6%;
    border-radius:20px;
    text-align: center;
}
.bottom-lang:hover
{
    border:1px solid white;
}
/* left big bottom end */

/* main body */

.main-body
{
    background-color:#242424;
    width:76.5%;
    margin-left:23.1%;
    height:240%;
    margin-top: 95px;
    margin-bottom:4.5%;
    border-radius:10px;
}
.body-playlist-heading,.body-sleep-heading
{
    display:block;
    padding:13px 0 0 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    letter-spacing: 1px;
    color:white;
}
.body-playlist-heading:hover
{
    text-decoration: underline;
}

.playlist ul, .sleep ul
{
    margin-top:-13px;
    display:flex;
    padding:10px;  
}
.playlist ul li, .sleep ul li
{
    padding:5px;
    list-style-type: none;
    
}
.playlist-column, .sleep-column
{
    background-color: #181818;
    border-radius:9px;
    
}
.playlist-single, .sleep-single
{
    padding:10px;
    width:150px;
    height:265px;
}
.playlist-single:hover, .sleep-single:hover
{
    background-color: black;
    border-radius: 10px;
    text-decoration: underline;
    color:grey;
}
img
{
    border-radius:5px;
    
}
.playlist-single-heading, .sleep-single-heading
{
    margin-top:10px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
.playlist-single-para, .sleep-single-para
{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    margin-top: 10px; 
    line-height: 20px;
}

/* main body ends */


/* footer 1 */
.footer1 ul 
{
    display: inline-block;
    vertical-align:top; /* Align the columns to the top of the footer */
    margin-right: 20px; 
    list-style: none; 
    color:grey;
    padding-top:100px;
}
.footer1 ul li
{
    padding:0 10px 10px 10px;
    letter-spacing:0.5px;
    font-family: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.footer1 ul li:hover
{
    color:white;
    text-decoration: underline;
}
.footer1 ul li b
{
    color:white;
    padding-bottom:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
hr
{
    font-weight: 100;
}
/* footer 1 end */

/* footer 2 */

.footer2
{
    color:grey;
    padding: 0 0 0 40px;
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;

}
.footer2 i
{
    padding: 0 10px 0 0;
}

/* footer 2 ends */

/* ad */

.adv
{
    margin:-84% 0.5% 0 0.5%;
    position:fixed;
    width:99%;
    height:80px;
    background-color: red;
    background-image: linear-gradient(to right, #ae2997 , #519bf5);
    border-radius:3px;
}
.adv h4
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    padding:0 0 0 10px;
    color:white;
}
.adv p
{
    padding:0 0 0 10px;
    margin:-15px 0 0 0;
    color:white;
    font-weight:100px;
    
}
.adv button
{
    margin: -2.5% 0 0 90%;
    width:9%;
    height:45px;
    border-radius:50px;
    border:none;
    align-items: center;
}
.adv button:hover
{
    background-color: rgb(156, 182, 253);
    color:black;
}
/* ad end */
